# ignore everything by default
*
# explictly include files:
!inference-api
!Dockerfile
!run_inference_api.sh
!pybuda-0.1.231113+dev.wh.b0.cdbd30a-cp38-cp38-linux_x86_64.whl
!tvm-0.9.0+dev.tt.c2076affc-cp38-cp38-linux_x86_64.whl
!requirements_minimal.txt
!tt-smi-wh-8.C.0.0_2023-11-02-ddcfb4b7bb67635e
!soft_harvest_2023-09-14-3d569476654ec0cd
