# IDE
.vscode
.DS_Store

# Python
*.pyc
__pycache__
*egg-info
*.whl

# Virtual Environment
env
env-test

# Output Files
*netlist.yaml
*.dump
*.log
docs/build
.hlkc_cache
tt_build
generated_modules
*.ipynb
*_params.pt
*.json
*.pt
.env
*.tti
*.txt
unzipped_tti/
backend_logs/
server_logs/
resource_logs/

# Site files
site/

# logs
local_cache_root/

# secrets
.env

# unignore
!falcon-40b-inference-api/inference-api/requirements.txt
!falcon-40b-inference-api/inference-api/requirements_dev.txt
!falcon-40b-inference-api/inference-api/src/test_data/before_top_pk_output.pt
!falcon-40b-inference-api/inference-api/requirements_minimal.txt
!falcon-40b-inference-api/inference-api/src/data/multi_prompt.json
!falcon-40b-inference-api/docs/openapi/prod/tenstorrent_llm_openapi_v3.json
!falcon-40b-inference-api/docs/openapi/dev/dev_tenstorrent_llm_openapi_v3.json
