# IDE
.vscode

# Python
*.pyc
__pycache__
*egg-info
*.whl

# Virtual Environment
env

# Output Files
*netlist.yaml
*.dump
*.log
docs/build
.hlkc_cache
tt_build
generated_modules
*.ipynb
*_params.pt
*.json
*.pt
.env
*.tti
*.txt
unzipped_tti/
backend_logs/
server_logs/
resource_logs/

# Site files
site/

# unignore
!falcon-40b-inference-api/requirements.txt
!falcon-40b-inference-api/requirements_dev.txt
!falcon-40b-inference-api/inference-api/test_data/before_top_pk_output.pt
!falcon-40b-inference-api/requirements_minimal.txt
!falcon-40b-inference-api/inference-api/data/multi_prompt.json
